
@import '../../index.css';

.cart{

    margin: 100px;
}

.cart-container-info{

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;

    font-size: max(1vw, 16px);
    color:gray;

    /* text-align: center; */
}

.cart-items{

    margin: 10px 0px;
    color:black;

}

.cart-container-info img{

    width: 50px;
}

.cart hr{
    height: 1px;
    background:rgb(165, 165, 165);

    border: none;
}

.cart-items  svg{

    cursor: pointer;
}

.cart-bottom{

    margin-top: 80px;

    display: flex;
    justify-content: space-between;

    gap:max(12vw,20px)
}


.cart-total{

    flex: 1;
    display: flex;
    flex-direction: column;

    gap:20px
}

.cart-total-detaila{

    display:flex;
    justify-content: space-between ;

    color:gray
}

.cart-total hr{

    margin: 10px 0;

   
}

.cart-total button{

    width: max(15vw,200px);

    padding: 12px 0px;

    background: var(--logo-color);
    color: white;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.cart-promocode{

    flex: 1;
}

.cart-promocode p{

    color: gray;
}

.promocode-input{

    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap:10px



}

.promocode-input input{

    border: 1px solid black;
    outline: none;
    padding: 10px;

    /* background: #f2eeee; */



    font-size: 16px;
}

.promocode-input button{

    padding: 13px 10px;
    width: max(10vw,150px);

    background: black;
    color: white;

    border: none;
    border-radius: 4px;

    /* font-size: 18px; */

    cursor: pointer;


}

.price-quantity{

    display: none;
}

@media (max-width:850px){

    .cart-bottom{

        flex-direction: column-reverse;
        margin-top: 50px;
        gap:30px
    }


    .cart-total{

        margin-top: 0;
    }

    .cart-promocode{

        justify-content: start;
    }


}

@media (max-width:630px){

    .cart-container-info-title,.cart-items-img{

        display: none;
    }

    .cart-container-info{

        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 0.5fr;
        font-size: 14px;
    }

   .item-price,.quantity{

    display: none;
   }

   .price-quantity{

    display: block;
   }

   .cart-container-info p,.cart-items p,.cart-items svg{

    margin-left: 15px;
   }

   .cart{

    margin: 50px;

    margin-top: 100px;
 }

   


}

@media (max-width:460px){

    .promocode-input{

        flex-direction: column;
    }


.cart-promocode{

    /* width: 300px; */

    display: flex;
    flex-direction: column;
    align-items: left;
    /* flex:2 */
}



.promocode-input input{

    font-size: 14px;
}


}